@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.animate-fall {
    animation: fall 5s linear;
}
